/* Write your CSS code here */
.not-found-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.image {
  height: 25vh;
  width: 18vw;
}
.heading {
  color: #6d396b;
  font-size: 43px;
  font-weight: 600;
}
